<header>
    <a href="" class="logo">Admin</a>

    <div class="menu">
        <ul class="navbar">
            <li><a routerLink="/home-auth">Product List</a></li>
            <li><a routerLink="/add-food">Add Product</a></li>
            <li><a routerLink="/order-confirm">Order Information</a></li>
            <li class="nav-item dropdown">
                <a
                 class="nav-link dropdown-toggle"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false"
                >
                 Account
                </a>
                <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="#">Login</a></li>
                 <li><a class="dropdown-item" href="/#">Register</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>




